<h2>New post</h2>

<%= render "form.html",
           changeset: @changeset,
           adtypes: @adtypes,
           categories: @categories,
           locations: @locations,
           action: posts_path(@conn, :create) %>

<%= link "Back", to: posts_path(@conn, :index) %>
