<h2>Show Location</h2>

<ul>

    <li>
        <strong>Name:</strong>
        <%= @location.name %>
    </li>

</ul>

<%= link "Edit", to: locations_path(@conn, :edit, @location) %>
<%= link "Back", to: locations_path(@conn, :index) %>
